# Please note there are many pre-defined (standard) values. These are
# The ones recommended for development. Please consider using
# Non-standard values. If you even want to use different ones for
# Development purposes, it also works well, just make sure to properly
# Set up the new values.

# Default to mongo for docker-compose, change it if needed
DB_SERVER=mongo

# Default to mongo in the docker-compose.yml file, change this value here if needed
DB_TEST_SERVER=mongo

# Default to redis in the docker-compose.yml file, change this value here if needed
REDIS_SERVER=redis

# Required
DB_ADMIN_USER=
DB_ADMIN_PASSWORD=
DB_USER=
DB_PASSWORD=

# Required
DB_TEST_USER=
DB_TEST_PASSWORD=

# Required
DB_PORT=27017
DB_TEST_PORT=27017
DB_NAME=
DB_TEST_NAME=

# It has default value if not set here
NODE_ENV=

# A 10 could be a goog number here. Keep in mind you can use more at your own expense
# This has a default value if not set here.
SALT_DEFAULT_WORK_FACTOR=10

# This has a default value if not set here. Please be mindful of changing this value
# IMPORTANT: When going to production as this should be a value ONLY known to the server machin
# That runs this code
SECRET=

# Node server port
# This has a default value if not set here.
PORT=3000
DEBUG_NODE_SERVER=0.0.0.0
DEBUG_NODE_PORT=9229

# Has a default time of 2h if not set
EXPIRATION_TIME_FOR_WEB_TOKEN=

# This has default value if not set here
REDIS_PORT=

# Required. You can change this at your own expense if needed
# These are persistent the docker volume directories to store
# The data of these two servers. This directory is ignored in
# The .gitignore file
MONGO_DATA_DIR=./data/mongo
REDIS_DATA_DIR=./data/redis

REDIS_TEST_PORT=6379
